
h2.ui.header {
    padding-top: 1em;
}

.ui.steps {
  margin-bottom: 3em;
  .step {
    cursor: pointer;
  }
}

.ui.form {
  .field {
    h3 {
      border-bottom: 2px solid #cccccc;
      padding-bottom: 0.5em;
      margin-top: 1em;
      margin-bottom: 1em;
    }
    &:first-child {
      h3 {
        margin-top: 0;
      }
    }
    &.last {
      padding-top: 1em;
      text-align: right;
    }
    &.centered {
      text-align: center;
    }
    .desc {
      color: #898989;
      &.offset {
        padding-left: 65px;
      }
    }
  }
}

.drop-box {
  background: #F8F8F8;
  border: 3px dashed #008080;
  display: inline-block;
  padding: 3em 5em;
  border-radius: 5px;
}