<!DOCTYPE html>
<html ng-app="appTranslator">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <title>AppTranslator</title>

    <link rel="stylesheet" type="text/css" href="bower_components/semantic/dist/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/app.css">
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/ng-file-upload/ng-file-upload.min.js"></script>
    <script src="bower_components/angular-route/angular-route.min.js"></script>
    <script src="bower_components/Chart.js/Chart.min.js"></script>
    <script src="assets/js/app.js"></script>
    <script src="assets/js/controllers.js"></script>
    <script src="assets/js/services.js"></script>
</head>

<body ng-controller="AppController">

<div class="ui nav menu">
    <div class="ui container">
        <div class="header item">
            <i class="android icon"></i> AppTranslator
        </div>
        <a class="item" ng-click="changeState('decode')" ng-class="{active : app.state == 'decode'}"><i
                class="translate icon"></i>Decode</a>
        <a class="item" ng-click="changeState('analysis')" ng-class="{active : app.state == 'analysis'}"> <i
                class="database icon"></i>
            Data Analysis</a>
    </div>
</div>

<div ng-view></div>

<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/semantic/dist/semantic.min.js"></script>
<script src="assets/js/semantic.js"></script>
</body>
</html>