<!DOCTYPE html>
<html ng-app="appTranslator">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <title>AppTranslator</title>

    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Open+Sans:300italic,400,300,700'
          rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="bower_components/semantic/dist/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/app.css">
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/ng-file-upload/ng-file-upload.min.js"></script>
    <script src="assets/js/controllers.js"></script>
</head>
<body ng-controller="TranslationController">

<div class="ui page grid">
    <div class="sixteen wide column">
        <h1>AppTranslator</h1>
    </div>
    <div class="sixteen wide column">
        <form class="ui form segment">
            <h3>Configuration</h3>

            <div class="two fields">
                <div class="field">
                    <label>Source Language</label>
                    <select name="source_lang" class="ui dropdown" ng-model="data.config.source_lang">
                        <option ng-repeat="language in data.languages" value="{{language.code}}">{{language.name}}
                        </option>
                    </select>
                </div>
                <div class="field">
                    <label>Target Language</label>
                    <select name="target_lang" class="ui dropdown" ng-model="data.config.target_lang">
                        <option ng-repeat="language in data.languages" value="{{language.code}}">{{language.name}}
                        </option>
                    </select>
                </div>
            </div>
            <!--<div class="grouped fields">-->
            <!--<label for="decoder">Decoder</label>-->

            <!--<div class="field">-->

            <!--<div class="ui radio checkbox">-->
            <!--<input type="radio" name="decoder" checked="checked" class="hidden" value="moses"-->
            <!--ng-model="decoder.decoder">-->
            <!--<label>Moses</label>-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="field">-->
            <!--<div class="ui radio checkbox">-->
            <!--<input type="radio" name="decoder" class="hidden" value="moses" ng-model="decoder.decoder">-->
            <!--<label>Solr</label>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->

            <!--<div class="ui divider"></div>-->
            <div class="field form-section">
                <h3>Input</h3>
            </div>
            <div class="field">
                <div class="ui left icon input">
                    <i class="search icon"></i>
                    <input type="text" placeholder="Enter a string..." ng-model="data.input.string">
                </div>
            </div>
            <div class="field">
                <div class="ui horizontal divider">
                    Or
                </div>
            </div>
            <div class="field" style="text-align: center;">
                <button type="file" class="ui teal labeled icon button" ngf-select="uploadFile($file)" ng-model="data.input.file" name="file" ng-class="{'loading' : state.progress > 0 && state.progress < 100}">
                    Upload XML translation file
                    <i class="upload icon"></i>
                </button>
            </div>
            <div class="field" ng-show="state.progress > 0">
                <div id="progress" class="ui progress" data-percent="{{state.progress}}">
                    <div class="bar" style="transition-duration: 300ms">
                        <div class="progress">{{state.progress}} %</div>
                    </div>
                </div>
            </div>
            <!--<div class="ui divider"></div>-->
            <div class="field form-section">
                <button class="ui primary left icon large button" ng-click="getTranslations()" ng-class="{'loading' : state.isLoading }" ng-disabled="!data.input.string && data.config.mode !== 'xml'">
                    <i class="translate icon"></i> Start Translation
                </button>
            </div>
            <div class="ui divider"></div>
            <div class="field">
                <h3>Results</h3>

                <p ng-show="!state.loaded && !state.isLoading">No translation started yet</p>

                <div class="ui segment" ng-show="state.isLoading">
                    <div class="ui active inverted dimmer">
                        <div class="ui text loader">Loading</div>
                    </div>
                    <p>&nbsp;</p>

                    <p>&nbsp;</p>

                    <p>&nbsp;</p>
                </div>

                <div ng-show="state.loaded && !state.isLoading">
                    <div class="ui top attached tabular menu">
                        <a class="item active" data-tab="translations">Translation(s)</a>
                        <a class="item" data-tab="debug">Debug</a>
                    </div>
                    <div class="ui bottom attached tab segment active" data-tab="translations">
                        <ul ng-if="data.config.mode == 'string'">
                            <li ng-repeat="translation in data.result.translations">{{translation}}</li>
                        </ul>
                        <table ng-if="data.config.mode == 'xml'" class="ui celled striped table">
                            <thead>
                            <tr>
                                <th>Key</th>
                                <th>Source</th>
                                <th>Translation</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="row in data.result.translations">
                                <td>{{row.key}}</td>
                                <td>{{row.source}}</td>
                                <td>{{row.target}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="ui bottom attached tab segment" data-tab="debug">
                        <textarea ng-bind-html="data.result.debug" rows="50"></textarea>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/semantic/dist/semantic.min.js"></script>
<script src="assets/js/app.js"></script>
</body>
</html>