<form class="ui form">

    <div class="field">
        <h3>Languages</h3>
    </div>

    <div class="two fields">
        <div class="field">
            <label>Source Language</label>
            <select name="source_lang" class="ui dropdown" ng-model="langs.source">
                <option ng-repeat="language in languages" value="{{language.code}}">{{language.name}}
                </option>
            </select>
        </div>
        <div class="field">
            <label>Target Language</label>
            <select name="target_lang" class="ui dropdown" ng-model="langs.target">
                <option ng-repeat="language in languages" value="{{language.code}}">{{language.name}}
                </option>
            </select>
        </div>
    </div>
    <div class="field form-section">
        <h3>Input</h3>
    </div>
    <div class="field">
        <div class="ui left icon input">
            <textarea ng-model="input.strings" ng-list="&#10;" ng-trim="false"
                      placeholder="Enter a string or multiple strings sparated by a newline..."></textarea>
        </div>
    </div>
    <div class="field">
        <div class="ui horizontal divider">
            Or
        </div>
    </div>
    <div class="two fields">
        <div class="field right file-button">
            <button type="file" class="ui teal labeled icon button" ngf-select="uploadFile($file)"
                    ng-model="data.input.file" name="file"
                    ng-class="{'loading' : state.progress > 0 && state.progress < 100}">
                Upload XML translation file
                <i class="upload icon"></i>
            </button>
        </div>
        <div class="field">
            <div ngf-drop="uploadFile($file)" ng-model="data.input.file" class="drop-box"
                 ngf-drag-over-class="'dragover'" ngf-multiple="false" ngf-allow-dir="false">
                Drop XML translation file here
            </div>
        </div>
    </div>
    <div class="field" ng-show="state.progress > 0">
        <div id="progress" class="ui progress" data-percent="{{state.progress}}">
            <div class="bar" style="transition-duration: 300ms">
                <div class="progress">{{state.progress}} %</div>
            </div>
        </div>
    </div>
    <div class="field">
        <h3>Translation System</h3>
    </div>
    <div class="grouped fields">
        <div class="field">
            <div class="ui radio checkbox">
                <input id="moses" type="radio" name="decoder" checked="checked" class="hidden" value="moses"
                       ng-model="decoder.decoder">
                <label for="moses">Moses</label>
            </div>
        </div>
        <!--<div class="field">-->
            <!--<div class="ui radio checkbox">-->

                <!--<input id="lamtram" type="radio" name="decoder" class="hidden" value="lamtram"-->
                       <!--ng-model="decoder.decoder">-->
                <!--<label for="lamtram">Lamtram</label>-->
            <!--</div>-->
        <!--</div>-->
        <div class="field">
            <div class="ui radio checkbox">

                <input id="solr" type="radio" name="decoder" class="hidden" value="solr"
                       ng-model="decoder.decoder">
                <label for="solr">Solr</label>
            </div>
        </div>
        <div class="field">
            <div class="ui radio checkbox">

                <input id="tensorflow" type="radio" name="decoder" class="hidden" value="tensorflow"
                       ng-model="decoder.decoder">
                <label for="tensorflow">Tensorflow</label>
            </div>
        </div>
        <div class="field">
            <div class="ui radio checkbox">

                <input id="compare" type="radio" name="decoder" class="hidden" value="compare"
                       ng-model="decoder.decoder">
                <label for="compare">Compare results of all translation systems</label>
            </div>
        </div>
    </div>
    <div class="field last">
        <button ng-click="changeStep(2)" class="ui primary button">Translation Options <i class="angle right icon"></i>
        </button>
    </div>

</form>
